.card{
    display: flex;
    height: 150px;
    object-fit: contain;
    margin: 8px 4px;
    border-radius: 8px;
}
.pair0{
    position: relative;
    top: 16px;
    border: 2px solid red;
}
.pair1{
    position: relative;
    top: -8px;
    border: 2px solid yellow;
}